@import "tailwindcss";

*{
  box-sizing:border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  margin:0px;
  padding:0px;
  width:full;
  height:full;
  display:flex;
  justify-content:center;
  align-items: center;
  background-color:#535c68;
}
.bmi-calculator{
  padding:20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input{
  width:100%;
  padding:10px;
  margin-bottom:10px;
}
button{
  padding:10px 20px;
  transition: background-color 0.3y;
}
.footer-down{
  margin-top: 20px;
}